* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


header {
    display: flex;
    padding: 7px;
}

section{
 
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.hide {
    display: none;
}

#high-score{
    width: 75%;
}

#time{
    width: 25%;
}
