* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


header{
    display: flex;
}

/* section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
} */

.hide {
    display: none;
}

#high-score{
    width: 80%;
}

#timer{
    width: 20%;
}
